* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
    text-decoration: none;
}


/* Apply the background to the entire body */
main {
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(./IMAGE/1.jpg);
    background-size: cover;  /* This makes the image cover the entire background */
    background-position: center;  /* Centers the image */
    background-repeat: no-repeat;  /* Prevents the image from repeating */
    /* height: 100vh; */
    margin: 0;  /* Removes default margin */
    transition: background-image 1s ease-in-out;
    /* display: flex; */
}

button, input {
    outline: unset;
    border: unset;
    border-radius: 2px;
}

nav {
       padding: 2rem 1rem;
}

ul, nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    list-style: none;
}
a {
    color: white;
    
}

.logo:first-child {
    /* border: 1px solid red; */
    font-size: 1.5rem;
    font-weight: bold;
}

.h1ninput {
    text-align: center;
    color: white;
    padding-block: 2rem;
}

.h1ninput h1 {
    padding-block-end: 1rem;
    line-height: 1.2;
}

.h1ninput>input {
    padding: 1rem;
    width: 50%;
}

.searchbtn {
    padding: 1rem 1.2rem;
    background-color: #2955bb;
    color: white;
    margin-inline-start: -6rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.searchbtn:hover {
    background-color: #1f418e;
}

.sidebar {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.612);
    padding: 2rem;
    height: 100vh;
    width: 15rem;
    transition: all 1s ease-in-out;
}

.sidebar:hover {
    background-color: rgba(0, 0, 0, 0.912);
    transform: scale(1.1);
}

.fa-magnifying-glass {
    padding-inline-end: .5rem;
}

ul, li {
    width: 100%;
}

.hover:hover {
    background-color: rgb(63, 62, 62);
    padding-block: .5rem;
}

.fa-xmark, .fa-bars {
    color: white;
}

.btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-block: 1.5rem;
} 

.whitebtn {
    padding: .3rem .5rem;
    background-color: white;
    transition: all .3s ease-in-out;
}

.whitebtn:hover {
    background-color: #2955bb;
    color: white;
}

.black-section {
    background-color: #121212;
    text-align: center;
    padding: 1.5rem 2rem;
}

.black-section h1 {
    color: #feb602;
    font-size: 1rem;
    padding-block-end: .8rem;
}

.black-section .yellow-btn {
    padding: .8rem 1.4rem;
    background-color: #feb602;
    transition: all .3s ease-in-out;
}

.black-section .yellow-btn:hover {
    background-color: #fe5a02;
}

/* ***********************************SECTIONS--FIRST SECTION ********************************************** */

.first-section, .second-section, .third-section {
    padding-block: 1rem 2rem;
    padding-inline: 1rem;
}

.first-section h1 {
    font-size: 1.8rem;
    line-height: 1;
    padding-block-end: 1rem;
}

.first-section-box {
    padding-block: 2rem;
    padding-inline: 3rem;
    background-color: #f0f4fd;
    border-radius: 5px;
}

.first-section-box h2 {
    line-height: 1;
    padding: 0 0 1rem;
}

.first-section-box p {
    padding-block-end: 1.5rem;
}

.first-section-box-btn {
    background-color: #121212;
    color: #ffffff;
    padding: 1rem;
    border-radius: 5px;
}

.first-section-box-btn:hover {
    background-color: #303030;
}

/* ***********************************SECTIONS--SECOND SECTION ********************************************** */

.grid-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1.8rem; 
    padding-block: 2rem; 
}

.grid-item {
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 1.8rem 1.25rem;
    display: flex;
    gap: .8rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.grid-item:hover {
    transform: scale(1.05);
}

.grid-section .grid-item i {
    font-size: 1.2rem;
}


.grid-section .grid-item:nth-child(1) > :first-child{
    color: #336AEA;
}

.grid-section .grid-item:nth-child(2) > :first-child{
    color: #EB644C;
}

.grid-section .grid-item:nth-child(3) > :first-child{
    color: #1CA199;
}

.grid-section .grid-item:nth-child(4) > :first-child{
    color: #EA7E11;
}

.grid-section .grid-item:nth-child(5) > :first-child{
    color: #3D9F63;
}

.grid-section .grid-item:nth-child(6) > :first-child{
    color: #B07CC6;
}

.grid-section .grid-item:nth-child(7) > :first-child{
    color: #336AEA;
}

.grid-section .grid-item:nth-child(8) > :first-child{
    color: #119D94;
}

.grid-item-ptext {
    font-weight: 600;
}


/* ***********************************SECTIONS--THIRD SECTION ********************************************** */

.text-collection p span {
    color: #119D94;
    font-weight: 600;
    font-size: 1.25rem;
}

.text-collection h1 {
    padding-block: 1.5rem;
    font-size: 1.8rem;
    line-height: 1.2;
}

.text-collection .blank-p {
    padding-block-end: 1.5rem;
    line-height: 1.2;
}


/* ***********************************SECTIONS-- FOURTH SECTION ********************************************** */

.html-image {
    height: 20rem;
    /* width: auto; */
}

/* **************************MEDIA QUERIES**************************************************** */

@media  (max-width: 800px) {
    .hidepcbtn {
        display: none;
    }
    nav {
        gap: unset;
    }

    .searchbtn {
        margin-inline-start: -0.7rem;
    }
}

@media  (min-width: 1000px) and (max-width: 1500px) {
    i.fa-solid.fa-bars {
        display: none;
    }

    nav {
        gap: unset;
    }

    .grid-section {
        grid-template-columns: repeat(8, 1fr); 
    }

}